/* font size adjustments copied from https://css-tricks.com/rems-ems/ */
/* Document level adjustments */
html {
    font-size: 16px;
  }
  @media (max-width: 900px) {
    html { font-size: 15px; }
  }
  @media (max-width: 400px) {
    html { font-size: 13px; }
  }
  
  /* Modules will scale with document */
  .header {
    font-size: 1.5rem;
  }
  .footer {
    font-size: 0.75rem;
  }
  .sidebar {
    font-size: 0.85rem;
  }
  
  /* Size will scale with modules */
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 2em;
  }

  /* Main CSS starts here */

:root {
  --color1: #075BAF;
  --color2: #2F8AE5;
}

header {
  display: flex;
  flex-direction: row;
  position: sticky;
  background-color: var(--color1);
  width: 100%;
  top: 0;
}
  
nav {
  align-self: flex-end;
}

nav a{
  color: var(--color2);
  text-decoration: none;
  font-size: 1.5em ;
  padding: 10px;

}

#page-title {
  background-color: var(--color2) ;
  margin: 1rem;
  padding: 0.4rem 0.8rem 0.4rem 3rem;
  border-radius: 0.4rem;
  margin-left: auto;
  margin-right: -0.2em;
}

#page-title h1 {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 3.5em;
}

main {

  /* margin-top: 7rem; */
}


