/* font size adjustments copied from https://css-tricks.com/rems-ems/ */
/* Document level adjustments */
html {
    font-size: 16px;
  }
  @media (max-width: 900px) {
    html { font-size: 15px; }
  }
  @media (max-width: 400px) {
    html { font-size: 13px; }
  }
  
  /* Modules will scale with document */
  .header {
    font-size: 1.5rem;
  }
  .footer {
    font-size: 0.75rem;
  }
  .sidebar {
    font-size: 0.85rem;
  }
  

  /* Main CSS starts here */

:root {
  --color1: #075BAF;
  --color2: #2F8AE5;
  --color3: #7CB6F0;
  --color4: #E5EEF8;
  --color5: #FFE4E4;
  --color-wb: #D7E6F0;
/* add alternate color scheme*/
}


/* offsets for sticky header when using in-page links */
html {
  scroll-padding-top: 9em ;
}


body {
  background-color: var(--color4);
}

header {
  display: flex;
  flex-direction: column-reverse;
  position: sticky;
  z-index: 5;
  background-color: var(--color1);
  width: 100%;
  top: 0;
}

h1 {
  font-family: "Courier New" monospace;
  font-variant: small-caps;
  font-size: 4em;
}

h2 {
  font-family: Courier monospace;
  font-variant: small-caps;
  font-size: 2.5em;

}

h3 {
  font-family: monospace;
  font-size: 2em;

}

p {
  font-family:  Courier, monospace;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.2;
}
  
nav {
  align-self: flex-start;
  margin-bottom: 0em;
  margin-left: 1em;
  display: flex;
  flex-direction: row;
  font-size: 0.9em;

}



nav a{
  color: var(--color5);
  text-decoration: none;
  font-size: 1.5em ;
  padding: 0em 1em 0em 1em;
  border-radius: 30px;
  transition: all 0.5s ease-out;
}

nav a:hover {
  background-color: var(--color2);
  box-shadow: 0em 0em 0.5em 0.1em var(--color5);
}

#page-title {
  background-color: var(--color2) ;
  margin: 1rem;
  padding: 0.4rem 0.8rem 0.4rem 3rem;
  border-radius: 0.4rem;
  margin-left: auto;
  margin-right: -0.2em;
}

#page-title h1 {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 3.5em;
  color: var(--color5);
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1.5rem;
  grid-template-areas:
    "subheader"
    "about-me-title"
    "about-me-cont"
    "my-work-title"
    "my-work-cont"
    "contact-me-title"
    "contact-me-cont";

}

main section {
  display: flex;
  flex-direction: row;
}

.section-title {
  width: 100%;
  margin-left: 1em;
  margin-right: 1em;
  padding-right: 1em;
  color: var(--color1);
  border-bottom: 0.3em solid var(--color1);
  display: flex;
  justify-content: center;
  align-items: flex-end;
 
}

.section-title h2 {
  height: min-content;
}


.section-contents {
  width: 100%;
  margin-right: 1em;
  margin-left: 1em;
}

#subheader {
  width: 100%;
  min-height: 5rem;
  padding: 1.5em 3em 1em 0.2em;
  margin-bottom: 0.2em;
  color: var(--color5);
  background-image :linear-gradient(
     var(--color2) 0%,
     var(--color4) 100%);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items:center;
  transition: all 1s ease-out;
  grid-area: subheader ;
  position: relative;
}

#subtitle {
  transition: all 0.8s ease-out;
  position: absolute;
  right: 3em;
}

#subtitle2 {
  transition: all 0.8s ease-in;
  opacity: 0;
  color: var(--color1);
  position: absolute;
  right: 3em;


}

header:hover + main #subheader{
  box-shadow: inset 0em -1.8em 1em 5em var(--color4) ;

}

header:hover + main #subtitle{
  opacity: 0 ;

}

header:hover + main #subtitle2{
  opacity: 1 ;

}



#about-me-title {
  grid-area: about-me-title;
}

#about-me-cont {
  grid-area: about-me-cont;
}

#my-work-title{
  grid-area: my-work-title;
}

#my-work-cont{
  grid-area: my-work-cont;
}

#contact-me-title {
  grid-area: contact-me-title;
}

#contact-me-cont {
  grid-area: contact-me-cont;
}

#about-me .section-contents {
  margin-right: 0em;
}

#personal-pic {
  min-width: 20%;
  text-align: center;
  padding-right: 2em;
  display: flex;
  align-items: center;
}

#personal-pic img {
  width: 15em;
  height: 15em;
  margin-right: 3em;
  border-radius: 50%;
}

#my-work-cont .section-contents {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 0.5em;
  grid-template-areas:
    "first"
    "second"
    "third"
    "fourth"
    "fifth";

}

#my-work-cont .shade {
  width: 100%;
  height: 100%;
  background-color: var(--color1);
opacity: 0.5;  /* border: 1em solid var(--color1); */
}

.work-card {
  min-height: 15em;
  border: 0.3em solid var(--color-wb);
  padding: 0.5em;
  position: relative;
  
}


.card-info {
  background-color: var(--color-wb);
  font-size: 2em;
  color: var(--color1);
  position: absolute;
  bottom: 1em;
  left: 0;
}



#first-card {
  background: linear-gradient(
     rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/assets/images/card1.jpg');
  background-color: var(--color1);
  background-size: cover;
  grid-area: first;
  min-height: 25em;
}

#first-card:hover {
  background: linear-gradient(
     rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url('/assets/images/card1.jpg');
     background-size: cover;
    
}


#second-card {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/assets/images/card2.jpg');
  background-color: var(--color1);
  background-size: cover;
  grid-area: second;
}


#second-card:hover {
  background: linear-gradient(
     rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url('/assets/images/card2.jpg');
  background-size: cover;
}


#third-card {
  background: linear-gradient(
     rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/assets/images/card3.jpg');
  background-color: var(--color1);
  background-size: cover;
  grid-area: third;
}

#third-card:hover {
  background: linear-gradient(
     rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url('/assets/images/card3.jpg');
   background-size: cover;
}


#fourth-card {
  background: linear-gradient(
     rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/assets/images/card4.jpg');
  background-color: var(--color1);
  background-size: cover;
  grid-area: fourth;
}

#fourth-card:hover {
  background: linear-gradient(
     rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url('/assets/images/card4.jpg');
    background-size: cover;
}


#fifth-card {
  background: linear-gradient(
     rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/assets/images/card5.jpg');
  background-color: var(--color1);
  background-size: cover;
  grid-area: fifth;
}

#fifth-card:hover {
  background: linear-gradient(
     rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url('/assets/images/card5.jpg');
     background-size: cover;
}


#contact-me-cont .section-contents {
  align-self: flex-end;
  text-align: center;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(30px, auto);
  grid-gap: 0.5rem;
  grid-template-areas: 
    "cm-1 cm-3"
    "cm-2 cm-4"
  ;
  
}

#cm-1 {
  grid-area: cm-1;
}

#cm-2 {
  grid-area: cm-2;
}

#cm-3 {
  grid-area: cm-3;
}

#cm-4 {
  grid-area: cm-4;
}

#contact-me-cont .section-contents a{
  height: min-content;
  color: var(--color1);
  font-size: 1.5em ;
  padding: 0.2em;
  margin: 0em 0.2em;

}

footer{
    width: 100%;
    min-height: 3rem;
    bottom: 0;
    background-image :linear-gradient(
       var(--color4) 0%,
       var(--color2) 100%);
   
    transition: all 0.4s ease-out;
  }

  footer:hover{
    /* add secret buttons*/
    box-shadow: 0em 0em 1em 0.7em var(--color1) ;
    background-image :linear-gradient(
      var(--color3) 0%,
      var(--color3) 100%);
  }

  /* adjust scroll-padding-top for media queries*/

  @media screen and (min-width: 768px) {

html {
  scroll-padding-top: 9em ;
}


    .section-title {

      border-right: 0.3em solid var(--color1);
      text-align: right;
      border-bottom: none;
      align-items: flex-start;
      justify-content: flex-end;
    }
    
    .section-contents {
      width: 100%;
      margin-right: 2em;
      margin-left: 0;
    }
    
    main {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 5fr;
      grid-auto-rows: minmax(100px, auto);
      grid-gap: 1.5rem;
      grid-template-areas:
        "subheader subheader"
        "about-me-title about-me-cont"
        "my-work-title my-work-cont"
        "contact-me-title contact-me-cont";
    
    }

    header {
      flex-direction: column-reverse;
    }
    nav {
     
      font-size: 1em;
    }


    #my-work-cont .section-contents {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: minmax(100px, auto);
      grid-gap: 0.5em;
      grid-template-areas:
        "first first"
        "second third"
        "fourth fifth";
    
    }

  }
  
  @media screen and (min-width: 992px) {

    html {
      scroll-padding-top: 8em ;
    }



    #contact-me-cont .section-contents {
      align-self: flex-end;
      text-align: center;
      margin-bottom: 1em;
      display: inline;
      
    }

    #contact-me-cont .section-contents a{
      padding: 0.4em;
      margin: 0em 0.4em; 
    }

  }

  @media screen and (min-width: 1320px) {

    html {
      scroll-padding-top: 7em ;
    }


      header {
        flex-direction: row;
      }
      
      #contact-me-cont .section-contents a{
        padding: 1em;
        margin: 0em 1.5em; 
      }

      nav {
        align-self: flex-end;
        margin-bottom: 0em;
        margin-left: 1em;
      }
      
  }