/* font size adjustments copied from https://css-tricks.com/rems-ems/ */
/* Document level adjustments */
html {
    font-size: 16px;
  }
  @media (max-width: 900px) {
    html { font-size: 15px; }
  }
  @media (max-width: 400px) {
    html { font-size: 13px; }
  }
  
  /* Modules will scale with document */
  .header {
    font-size: 1.5rem;
  }
  .footer {
    font-size: 0.75rem;
  }
  .sidebar {
    font-size: 0.85rem;
  }
  
  /* Size will scale with modules */
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 2em;
  }

  /* Main CSS starts here */

:root {
  --color1: #075BAF;
  --color2: #2F8AE5;
  --color3: #7CB6F0;
  --color4: #E5EEF8;
  --color5: #FFE4E4;
/* add alternate color scheme*/
}

body {
  background-color: var(--color4);
}

header {
  display: flex;
  flex-direction: row;
  position: sticky;
  background-color: var(--color1);
  width: 100%;
  top: 0;
}
  
nav {
  align-self: flex-end;
}

nav a{
  color: var(--color5);
  text-decoration: none;
  font-size: 1.5em ;
  padding: 10px;

}

#page-title {
  background-color: var(--color2) ;
  margin: 1rem;
  padding: 0.4rem 0.8rem 0.4rem 3rem;
  border-radius: 0.4rem;
  margin-left: auto;
  margin-right: -0.2em;
}

#page-title h1 {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 3.5em;
  color: var(--color5);
}

main {

  /* margin-top: 7rem; */
}

#subheader {
  width: 100%;
  min-height: 5rem;
  padding: 1.5em 2em 1em 0.2em;
  background-image :linear-gradient(
     var(--color2) 0%,
     var(--color4) 100%);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items:center;
  transition: all 0.4s ease-out;
}

header:hover + main #subheader{
  box-shadow: inset 0em -1.8em 1em 0.7em var(--color4) ;

}

/*add shadow */
#subtitle {
}

