/* Document level adjustments */
html {
    font-size: 16px;
  }
  @media (max-width: 900px) {
    html { font-size: 15px; }
  }
  @media (max-width: 400px) {
    html { font-size: 13px; }
  }
  
  /* Modules will scale with document */
  .header {
    font-size: 1.5rem;
  }
  .footer {
    font-size: 0.75rem;
  }
  .sidebar {
    font-size: 0.85rem;
  }
  
  /* Size will scale with modules */
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 2em;
  }